button {
  width: 10%;
  border-radius: 20px;
  margin: 25px;
  padding: 5px;
}

.header {
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.images {
  margin: 0 10px;
  height: 33%;
  width: 97.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
}

.image{
  height: 90%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img {
  height: 25%;
  width: 25%;
  margin: 10px 10px;
  display: flex;
  flex-direction: row;
  flex: row nowrap;
  border-radius: 10px;
  background-color: midnightBlue;
  box-shadow: 17px 17px 34px rgb(38, 38, 38), inset -8px -8px 16px, inset 0px 14px 28px  ;
}
