.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.rover-select {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  font-weight: bold;
}


.rover {
  color: white;
  font-weight: 500;
  margin: 5px;
  padding: 5px;
}

.rover:hover {
  color: yellow;
  cursor: pointer;
}

.rover-button {
  width: 10%;
  border-radius: 20px;
  margin: 25px;
  padding: 5px;
}

.camera {
  color: white;
  font-weight: 500;
  margin: 5px;
  padding: 5px;
}

.camera-select {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: larger;
  font-weight: bold;
}

.camera-button {
  width: 10%;
  border-radius: 20px;
  margin: 25px;
  padding: 5px;
}

input {
  width: 20%;
  line-height: 200%;
  border-radius: 10px;
}
